$brand-font: 'Sansita', Helvetica, Arial;

$nav-background-color: white;
$active-nav-color: rgba(60,179,113, 0.2);

.navbar-styling-base {
  .navbar {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0; margin: 0;
    flex-wrap: wrap;

    li {
      margin-right: 10px;
      cursor: pointer;

      .active {
        background: $active-nav-color;
      }

      a {
        color: $noteshare-color;
        padding: 5px 15px 5px 15px;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 20px;
        text-decoration: none;
        transition: background 300ms ease;

        &:hover {
          background-color: $active-nav-color;
        }
      }
    }
  }
}

.mobile-nav {
  position: relative;
  width: 100%;
  top: 0;

  .cover {
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0, 0.5);
    transition: opacity 300ms ease;

    &.open {
      opacity: 1;
      transition: opacity 300ms ease;
    }
  }

  .slider {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: white;
    padding-top: 20px;
    width: 250px;
    transform: translateX(300px);
    //transition: all 300ms ease-out 100ms;
    animation: slideBack 300ms ease;

    @extend .navbar-styling-base;

    .navbar {
      flex-direction: column;

      li {
        margin-top: 20px;
        margin-left: 10px;

        a {
          padding-left: 5px;
        }
      }
    }

    &.open {
      animation: slide 300ms ease forwards;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideBack {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}

.nav-bar {
  box-sizing: border-box;
  background-color: $nav-background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $noteshare-color;

  .brand {
    font-family: $brand-font;
    font-weight: 300;
    color: $noteshare-color;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    img {
      margin: 10px 5px 0px 20px;
      height: 40px; width: 40px;
    }
  }

  .mobile-nav-button {
    display: none;
    cursor: pointer;
    z-index: 20;

    img {
      width: 40px; height: 40px;
      margin-right: 20px;
    }
  }

  .menu {
    opacity: 1;
    visibility: visible;
    transition: all 200ms ease-in-out;

    @extend .navbar-styling-base;

  }

  /** RESPONSIVE AREA **/
  @media screen and (max-width : 768px) {
    .mobile-nav-button {
      display: initial;
    }

    .menu {
      opacity: 0;
      display: none;
      transition: all 200ms ease-in-out;
      flex-direction: column;
    }
  }
}
