.header {
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    color: mediumseagreen;
}

.courseButton{
  z-index: 10;
  font-size: 18px;
  background: mediumseagreen;
  width: 75px;
  border-bottom: 2px solid mediumseagreen * 0.8;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  display: inline-flex;
  cursor: pointer;
  transition: 0.5s;

  &:hover{
    background: mediumseagreen * 0.8;
    transition: 0.5s;
    transform: translateY(2px);

    span::after{
      opacity: 1;
    }
  }

  &:active{
    transform: translateY(4px);
    //border-bottom: 2px solid #324356;
    transition: 0.1s;
  }
}

.course {
    padding: 0;
    margin: 0;
}