.doc-wrapper{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;

    .doc-thumbnail{
      font-family: arial;
      padding: 2%;
      width: 12%;
    }

    img{
      width: 100%;
      height: auto;
    }

    p{
      margin: 0;
      text-align: center;
    }

}

.docs{
    background: #f3fff2;
}
