@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

.home-page {    
    box-sizing: border-box;
    .homepage-top {
        height: 100vh;
        background-image: url('http://tinyurl.com/j82sxdh');
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .top-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10%;

            h1, p {
                padding: 0;
                margin: 0;
                color: white;

                &::selection {
                    text-shadow: none;
                    color: darkgrey;
                    background: #222;
                }
            }

            h1 {
                font-family: 'Dancing Script';
                font-size: 3.5em;
            }

            p {
                font-family: 'Questrial','Helvetica Neue', Arial, sans-serif;
                padding: 20px 20px 10px 20px;
                font-weight: 500;
            }
        }

        .action-buttons {
            display: flex;

            .btn {
                font-family: 'Questrial','Helvetica Neue', Arial, sans-serif;
                height: 30px;
                line-height: 30px;
                vertical-align: middle;
                background-color: mediumseagreen;
                border-radius: 25px;
                border: 1px solid white;
                color: white;
                padding: 10px 40px 10px 40px;
                margin-left: 20px;
                cursor: pointer;
                transition: opacity 300ms ease-in-out;

                &:hover {
                    opacity: 0.7;
                    transition: opacity 300ms ease-in-out;
                }
            }
        }
    }
}