.modalComponent{
  justify-content:center;
  display: flex;

  .button{
    position: absolute;
    bottom: 20px;
    right: 20px;

  }

.uploadModal{
  width: 50%;
  background: #F8F8F8;
  margin: 5% auto;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px black;
  font-family: 'Roboto', arial;

  .button{
    position: relative;
    right: 0;
    bottom: 0;
  }
}
.modalTitle{
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 10px;
  color: #3CB371;
}

.modalBody{
  background: #D8F0E2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    img{
      height:50px;
      width: 50px;
    }

    .button{
      margin-top: 20px;
    }
}

.blockingDiv{
  position: absolute;
  top:0;
  height: 100%;
  width:100%;
  background: rgba(0,0,0,0.7);
  }
}
