$brand-font: 'Sansita', Helvetica, Arial;

.nav-bar {
  box-sizing: border-box;
  background-color: white;
  color: #333333;
  // width: 80%;
  // position: relative;
  // left: 20%;
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid mediumseagreen;

  .brand {
    font-family: $brand-font;
    font-weight: 300;
    color: mediumseagreen;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    img {
      margin-left: 20px;
      margin-top: 10px;
      margin-right: 5px;
      height: 40px; width: 40px;
    }
  }

  .menu {

    ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      padding: 0;
      margin: 0;              // important
      flex-wrap: wrap;        // important

      li {
        padding: 10px 0px;
        margin-right: 10px;
        cursor: pointer;
        // transition-duration: 0.4s;
        // vertical-align: middle;
        // transform: perspective(1px) translateZ(0);
        // box-shadow: 0 0 1px transparent;
        // position: relative;
        // overflow: hidden;

        .active {
          background: rgba(60,179,113, 0.2);
        }

        a {
          color: mediumseagreen;
          font-family: 'Roboto';
          font-weight: 100;
          letter-spacing: 1px;
          font-size: 24px;
          text-decoration: none;
          padding: 10px 30px;
          transition-duration: 0.4s;

          &:hover {
            background-color: rgba(60,179,113, 0.2);
          }
        }

        // growing box effect
        // &:hover, &:focus, &:active {
        //   background-color: black;
        //   box-shadow: 0px 10px 25px -5px black;
        //   transform: scale(1.05);
        // }

        // underline effect
        // &:before {
        //   content: "";
        //   position: absolute;
        //   z-index: -1;
        //   left: 0;
        //   right: 100%;
        //   bottom: 0;
        //   background-color: white;
        //   height: 4px;
        //   transition-property: right;
        //   transition-duration: 0.3s;
        //   transition-timing-function: ease-out;
        // }
        // &:hover:before, &:focus:before, &:active:before {
        //   right: 0;
        // }
      }
    }
  }
}
