.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;

    .brand {
      display: flex;
      align-content: center;
      margin-left: 15px;
    }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    margin-right: 15px;
    padding: 0;

    li {
      margin-left: 15px;
    }
  }
}