.profile-area {
  display: flex;
  justify-content: center;
  background: $background-color;
  padding-top: 25px;

  .profile {
    width: 50%;
    min-width: 500px;
    display: flex;
    flex-direction: column;

    .profile-top {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .button-wrapper {
          display: flex;
          flex-wrap: wrap;
          position: relative;
      }

      .name-image-container {
        display: flex;
        align-items: center;

        h1, h2 {
          margin: 0;
        }

        .name-container {
          margin-left: 20px;
        }

        h1 {
          font-size: 32px;
          font-family: 'Sansita';
          color: mediumseagreen;
        }

        h2 {
          font-family: 'Roboto';
          color: mediumseagreen * 1.1;
        }

      }
    }

    .profile-body {
    
      h3 {
        font-family: 'Sansita';
        color: mediumseagreen;
      }
      .bibliography{
      p{
      font-family:'Roboto';
      }
     
    

      }

        .my-courses{
       



      }
       .statistics{
      font-family:'Roboto';
    
      }
      .course-list {
    display:flex;
    background: #ccffcc;
    padding: 10px;
    margin: 10px;
     font-family:'Roboto';

     .subcourses{

     margin:10px;
     }
}
      .document-container {

        .toggle-bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          h3 {
            font-family: 'Sansita';
            color: white;
            font-size: 22px;
            padding: 10px;
            margin: 0;
          }

          img {
            height: 30px;
            width: 30px;
            margin-right: 20px;

            &.show {
              transform: rotate(90deg);
            }
          }

          background: mediumseagreen;
          //padding: 10px;
        }
      }
    }
    .statistics {





    }

  }
}
